.new-ad {
    position: relative;
    left: 10%;
    bottom: 20%;
    border: none;
    height: 625px;
    width: 950px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;

}

.create-box {
    font-size: 20px;
    text-align: center;
    width: 800px;
    height: 80px;
    margin: 25px 25px;
    border-radius: 40px;
    border: none;

}

h1 {
    position: relative;
    text-align: center;
    top: 20px;
    color: white;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    color: white;

}

.btn {
    position: relative;
    width: 300px;
    height: 70px;
    margin-top: 50px;
    border-radius: 40px;
    left: 280px;
    background-color: #90BE6D;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border:none;
}

label {
    color: white;
}

body {
    width: 100%;
    height: auto;
    /*background-color: pink; !important;*/
    background: -webkit-linear-gradient(180deg, hsla(181, 55%, 79%, 1) 8%, hsla(216, 40%, 58%, 1) 76%); !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}